body {
background-color: black;
overflow:hidden;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.logo{
 width: 432px;
 height: 217px;
 background-repeat: no-repeat;
 display: none;
 position: absolute;
 left: -150px;
 margin-top: 100px;
}

.ryu{
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.logo{
  background-image: url('../images/street_fighter.png')
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
  display: none;
	position: relative;
	top: 165px;
	left: -212px;
	float: left;
	display: none;
}

.intro{
  position: absolute;
  left: 750px;
  padding-top: 50px;
  margin-right: 30px;
  font-family: 'Ceviche One', cursive;
  display: none;
}

  .intro h1{
  font-size: 70px;
  /*display: none;*/
 }

 .intro h3{
  font-size: 30px;
  /*display: none*/
 }

 .intro p{
  font-size: 25px;
 }
 